<div>
  <h1><%= @trip.id %></h1>
  <!--  <h2>By: <%#= @driver.author.name %></h2>-->
  <%= link_to "Edit", edit_trip_path(@trip) %>
  <%= link_to "Delete", trip_path(@trip), method: :delete, data: {confirm: "Are you sure?"}%>
</div>
<!--<p><%#= link_to "Return to Book List", books_path %></p> -->