<div class="banner">
  <%= image_tag("welcome.png", :alt => "welcome banner") %>
</div>
<h3>Instant Rides At Your Fingertips</h3>
<br>
<h2>Fast, Reliable & FREE To Join</h2>
<div class="image">
  <%= image_tag("homepage.png", :alt => "lineart of the front of a car") %>
</div>
<br>
<div class="buttons">
  <li><%= button_to "New Passenger", new_passenger_path,  method: :get, :class => "button" %></li>
  <li><%= button_to "New Driver", new_driver_path, method: :get, :class => "button" %></li>
</div>
<div class="spacer"></div>