/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

 /* ====================================================================================================================
 * WEB-LAYOUT STYLES
 * ====================================================================================================================*/

body {
    background-color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    color: white;
    border-bottom: 1em solid grey;
    background-image: url(image-path('car-icon-blue.png'));
    background-position: left;
    background-repeat: no-repeat;
    background-size: 200px;
    height: 15vh;
    min-height: 150px;
}

header div.header-spacer {
    width: 200px;
}

header h1 {
    padding: 1em;
}

nav {
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;
}

section.flash div.green-message {
    background-color: green;
}

section.flash div.red-message {
    background-color: red;
}

table {
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
    width: 90vh;
}

tr:nth-child(odd) {
    background: grey;
}

tr:first-child {
    border-bottom : 2px solid black;
    }

footer {
    border-top: 1em solid grey;
    background-color: black;
    color: white;
    text-align: center;
    border-bottom: 1em solid black;
}

footer h3 {
    font-size: 1em;
}

div.footer-spacer {
    height: 100px;
    background-image: url(image-path('car-footer.png'));
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75px;
}

div.form-spacer {
    height: 400px;
}

div.avatar-image img {
    border: 0.25em solid black;
    text-align: center;
    width: 200px;
}

div.trip-avatar img {
    text-align: center;
    width: 250px;
}
 /* ====================================================================================================================
 * PAGINATION
 * ====================================================================================================================*/
.pagination {
  background: white;
  margin: auto;
  font-family: 'Poppins', sans serif;
  /* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    margin-right: 1px; }
  .pagination .disabled {
    color: #999999;
    border: 1px solid white; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: grey;
    color: black;
    border: 1px solid white; }
  .pagination a {
    text-decoration: none;
    color: blue;
    border: 1px solid white; }
    .pagination a:hover, .pagination a:focus {
      color: #000033;
      background: grey; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; }

 /* ====================================================================================================================
 * SCREEN SIZE ADJUSTMENT
 * ====================================================================================================================*/

@media (max-width:600px) {
    header {
        background-size: 100px;
        align-items: center;
    }

    header h1 {
        font-size: 28px;
    }

    header div.spacer {
        width: 100px;
    }
}